@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  background-color: var(--darker);
}

:root {
    --light: #eee;
    --dark: #342F4E;
    --darker: #262336;
    --blue: #61DAFB;
    --crimson: #DB3052;
  }